* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-top: 0;
    font-size: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    font-size: 16px;
}

input {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    outline: none;
}

button {
    color: white;
    background-color: rgb(12, 116, 235);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease;
}

button:hover {
    background-color: rgb(0, 91, 196);
}

#result {
    font-weight: bold;
    font-size: 20px;
}